argcomplete==3.3.0
attrs==24.2.0
cfgv==3.4.0
charset-normalizer==3.3.2
colorama==0.4.6
commitizen==3.25.0
decli==0.6.2
distlib==0.3.8
filelock==3.14.0
identify==2.5.36
importlib_metadata==7.1.0
Jinja2==3.1.4
jsonschema==4.17.3
MarkupSafe==2.1.5
mypy==1.10.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
platformdirs==4.2.1
pre-commit==3.7.1
prompt-toolkit==3.0.36
psutil==6.0.0
pygame-ce==2.4.1
pyrsistent==0.20.0
PyYAML==6.0.1
questionary==2.0.1
referencing==0.35.1
rpds-py==0.20.0
setuptools==69.5.1
termcolor==2.4.0
tomlkit==0.12.5
typeguard==4.2.1
types-jsonschema==4.23.0.20240813
types-psutil==6.0.0.20240901
typing_extensions==4.11.0
virtualenv==20.26.1
wcwidth==0.2.13
zipp==3.18.1
